 {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
   <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg" style="background-image: url(&quot;images/bg/bg3.jpg&quot;); background-position: 50% 97px;">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="text-white mt-20">Articles</h2>
            </div>
          </div>
        </div>
      </div>      
    </section>


    <section>
      <div class="container mt-30 mb-30 pt-30 pb-30">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="blog-posts">
              <div class="col-md-12">
                <div class="row list-dashed">

                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/quelage.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                           À quel âge doit-on aller chez l'orthodontiste ?</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">Bien que les traitements d'orthodontie pour aligner, coordonner les' dents, améliorer l'état parodontal et corriger les malocclusions peuvent se faire à tout âge et jusqu'à 99 ans, les traitements jeunes dès l'âge de 3 ans restent les meilleurs solutions en terme de prévention.
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>

                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/traiter3a6.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                           Comment traiter le sourire de trois à six ans ?</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">Il n’y a pas d’âge pour traiter, il faut diagnostiquer les déformations dès qu’elles apparaissent et les corriger lorsque le patient et les parents sont prêts. Illustration par des cas.
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>
                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/estelle.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                                Analyse du sourire d'Estelle Lefébure</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">Le sourire reste avec les yeux l’élément le plus fort du visage. Nous voyons comment ce sourire s’harmonise dans l’ensemble « menton, nez, front cheveux… ». Découvrons ce que les peintres classiques ont appelé les trois étages du visage ».
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>

                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/ines.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                                Analyse du sourire d'Ines Sastre</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">L'espace buccal du sourire est délimité par la partie inférieure de la lèvre supérieure en haut, la partie supérieure de la lèvre inférieure en bas et les commissures labiales latéralement. Cet espace répond à des canons de beauté dont on se préoccupe de plus en plus aujourd'hui.
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>

                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/procedeinvisalign.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                                Le procédé Invisalign</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">Le procédé Invisalign est un système d'orthodontie invisible par gouttières (aligneurs). Retour sur un système qui a fait ses preuves outre-Atlantique et qui arrive peu à peu en Europe. Démonstration.
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>

                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/bradpitt.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                                Analyse du sourire de Brad Pitt</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">Le sourire, c'est évidemment des lèvres, une gencive et des dents. Tout le reste apparaît noir pour l'oeil d'un observateur non professionnel, c'est -àdire la quasi-totalité des personnes à qui est destiné le sourire. Construire un sourire, c'est aussi apprendre à gérer ce qui ne se voit pas.
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>

                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/claudia.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                                Analayse du sourire de Claudia Schiffer</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">Vu de face, le sourire de Claudia à l'air équilibré alors que vu de profil... pourtant ces malpositions influencent la perception de tout le visage même de face.
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>

                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/corinne.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                                Analyse du sourire de Corinne Touzet</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">La disposition, l'arrangement, la texture, la forme, la couleur, la symétrie des dents et des groupes de dents sont à la base de l'individualisation du sourire. Quelles sont les règles actuelles applicables au sourire de la belle Corinne.
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>

                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/hughgrant.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                                Analyse du sourire de Hugh Grant</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">Hugh Grant es l'acteur anglais par excellence ... Celui qui fait craquer les jeunes et moins jewles avec son humour british et son oeil qui frise n'en affiche pas moins un sourire ravageur ... mais, une fois encore, très loin d'être parfait. Analyse.
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>

                  
                  <article class="post clearfix mb-30 pb-30">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ asset('images/articles/tomcruise.png') }}" alt="" class="img-responsive img-fullwidth"> 
                      </div>
                    </div>
                    <div class="entry-content border-1px p-20 pr-10">
                      <div class="entry-meta media mt-0 no-bg no-border">
                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                          <ul>
                            <li class="font-16 text-white font-weight-600">28</li>
                            <li class="font-12 text-white text-uppercase">Feb</li>
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="blog-single-right-sidebar.html">
                                Analyse du sourire de Tom Cruise</a></h4>
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>                       
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 
                            895 Likes</span>
                          </div>
                        </div>
                      </div>
                      <p class="mt-10">Il est élu régulièrement plus bel homme du monde et pourtant ... son visage et son sourire sont loin de répondre aux critères esthétiques en vigueur. Ils présentent une asymétrie particulière, car non génératrice de déséquilibre.Démonstration.
                      <br><em>Explication réalisé par le Dr. Bergeyron</em></p>
                      <a href="#" class="btn-read-more">Lire l'article complet</a>
                      <div class="clearfix"></div>
                    </div>
                  </article>


                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </section>
 {% endblock %}