   {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
     <!--Page Title-->
    <section class="page-title" style="background-image:url(../assets/images/background/bg-page-title-16.jpg);">
    	<div class="auto-container">
        	<h1>Esthétique</h1>
        </div>
    </section>
    
    
 <section class="project-details style-one">
    	<div class="auto-container">
        	
            <!--upper Images-->
            <div class="row clearfix">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{asset('assets/images/appareil-orthodontique-fixe.jpg') }}" alt=""></figure>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                	<div class="row clearfix">
                    	<div class="image-column col-md-12 col-sm-6 col-xs-12">
                			<img src="{{asset('assets/images/bagues-metal.jpg') }}" alt="" style="width: 220px">
                        </div>
                        <div class="image-column col-md-12 col-sm-6 col-xs-12">
                			<img src="{{asset('assets/images/bagues-ceramique.jpg') }}" alt="" style="width: 220px">
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Content-->
            <div class="row clearfix">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
            		<h3>Les appareils fixés ou «collés sur les dents» Les bagues</h3>
                    <p>L’un des systèmes les plus anciens pour déplacer toutes les dents entre elles et les coordonner est le système multi-attache, il est composé de verrous ou attaches collés sur les dents ou soudés sur une bague.
                    Les appareillages multi-attaches sont composés de bagues ou verrous, de fils et d’auxiliaires.
                    Ces systèmes ne sont pas conformes aux règles 3 et 4 des appareillages de l’ISFESO©, mais leur démocratisation en ont fait un outil accessible pour tous les patients et l’ISFESO© a choisi des verrous, des fils et des auxiliaires spécifiques pour répondre au mieux à sa philosophie, ses clés de la réussite, ses règles d’appareillage et sa charte des orthodontistes.
                    </p>
                    <h3>INCONVÉNIENTS</h3>   	
                    <div class="row clearfix">
                    	<div class="col-md-6 col-sm-6 col-xs-12">
                        	<ul class="styled-list-one">
                            	<li>Standardisées, collées, peuvent se décoller</li>
                                <li>Gêne la mastication, brossage, douleurs,</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        	<ul class="styled-list-one">
                                <li>Augmente le risque de caries et tâches sur les dents</li>
                                <li>Risque de rhizalyses (destruction partielle ou totale de la racine dentaire)</li>
                            </ul>
                        </div>
                    </div>
                    
                    <h3>AVANTAGES</h3>	
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        	<ul class="styled-list-one">
                                <li>Technique qui a fait ses preuves</li>
                                <li>Coût intéressant.</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                	<h3>Discussion</h3>
                    <p>plus elles sont petites, moins elles sont apparentes mais moins elles permettent le contrôle. Plus elles sont petites, moins elles gênent mais moins elles permettent le contrôle. Plus elles sont «collées», plus elles tiennent mais plus elles sont difficiles à décoller.</p>
                    
                    <h4>Indications</h4>
                    <p>Tout déplacement avec auxiliaires</p>
                    
                    <h4>Contre-indications</h4>
                    <p>Dents fragilisées, problème d’hygiène ou médical au déplacement dentaire provoqué, sensibilité aux infections</p>
                    
                </div>
            </div>

            
            <div class="row clearfix">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
                    <h3>Métal</h3>	
                    <p>Visible, risque d’allergies, il existe différentes marques en fonction de la composition, de la qualité des métaux et du conditionnement</p>
                    
                    <h3>Transparent</h3>	
                    <p>Céramique: ne se colore pas, très résistant, attention aux chocs avec les dents, transparent mais gorge métallique. Les orthodontistes de l’ISFESO© n’en posent pas à l’arcade mandibulaire pour éviter avec les chocs et les fractures dentaires Plastique: s’use et se colore</p>
                    
                    <h3>Autoligaturant</h3>	
                    <p>Permet d’éviter la ligature, d’améliorer l’hygiène et diminue le nombre de RDV</p>


                    <h3>INCONVÉNIENTS</h3>	
                    <p>Gêne pour manger avec, gêne pour parler qui s’estompent suivant
                    le patient, bagues qui peuvent recouvrir les molaires, douleurs lors des changements ou «resserrage de fil», se voit en cas d’éclat de rire, tendance au décollements et urgences non conforme à la règle 6 de l’ISFESO©</p>

                    <h3>AVANTAGES</h3>	
                    <p>Invisible sauf pour les «chainettes de dérotation», ou en cas d’espaces entre les dents.</p>
                   
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                	<div class="row clearfix">
                    	<div class="image-column col-md-12 col-sm-6 col-xs-12">
                                <img src="{{asset('assets/images/bague-bracket-metal.jpg') }}" style="width: 30%">
                        </div>
                        <div class="image-column col-md-12 col-sm-6 col-xs-12">
                                <img src="{{asset('assets/images/bague-bracket-ceramique.jpg') }}" style="width: 30%">
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="row clearfix">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
                    <h3>Les attaches linguales standardisées, préfabriquées</h3>	
                    <p>Elles sont les mêmes pour tous les patients et c’est selon leur positionnement et les modifications du fil que dépend le résultat.</p>
                    
                    <h3>Les attaches linguales «individualisées» à partir d’empreintes:</h3>	
                    <p>Individualisées par la colle entre la «bague standardisée» et la dent qui oriente par étape de laboratoire, la bague dans les 3 sens de l’espace. Cette individualisation facilite l’alignement des dents.<br>
                    Individualisées par «coulée» en métal (nicr, or) d’une bague «sur mesure». Le laboratoire «coule» une bague sur mesure.</p>


                    <h3>INCONVÉNIENTS</h3>	
                    <p>Tous ceux du système fixe, parfois risque pour les dents du bas qui sont en contact avec l’appareillage en haut à l’intérieur. Gêne à la phonation temporaire ou définitive</p>

                    <h3>AVANTAGES</h3>	
                    <p>Le système individualisé facilte l’alignement</p>
                   
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                	<div class="row clearfix">
                    	<div class="image-column col-md-12 col-sm-6 col-xs-12">
                                <img src="{{asset('assets/images/lingual-standard.png') }}" style="width: 50%">
                        </div>
                        <div class="image-column col-md-12 col-sm-6 col-xs-12">
                                <img src="{{asset('assets/images/sans-cadre.jpg') }}" style="width: 50%">
                        </div>
                    </div>
                </div>
            </div>





            
            <div class="row clearfix">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{asset('assets/images/aligneurs-dentaires.jpg') }}" alt=""></figure>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                	<div class="row clearfix">
                    	<div class="image-column col-md-12 col-sm-6 col-xs-12">
                			<figure class="image-box"><img src="{{asset('assets/images/aligneur-invisalign.jpg') }}" style="width: 80%"></figure>
                        </div>
                        <div class="image-column col-md-12 col-sm-6 col-xs-12">
                			<figure class="image-box padd-top-10"><img src="{{asset('assets/images/aligneur-gouttiere-transparente.jpg') }}" style="width: 80%"></figure>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Content-->
            <div class="row clearfix">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
            		<h3>Les gouttières amovibles transparentes</h3>
                    <p>Les aligneurs sont des gouttières thermoformées qui déplacent les dents et recouvrent les dents sur toutes les faces, cachent les défauts par leur brillance et ne sont pas perceptibles par les autres sous certaines conditions. <br>Des systèmes permettant des déplacements complexes sont disponibles en Europe depuis 2001.
                    Invisible, sans douleur avec le minimum de RDV selon les règles n°1, 2 et 6 de l’ISFESO©
                    </p>
                    
                	<h3>Indications</h3>
                    <p>Refus du port d’appareil fixe, difficultés d’hygiène, allergies aux métaux, émail de mauvaise qualité, dens fêlées, bruxisme, usure dentaire, bridge, couronnes, implants.
                    Aujourd’hui, tous les déplacements dentaires provoqués sans contre-indication médicale peuvent être faits par des gouttières thermoformées en fonction du procédé de fabrication, de l’expérience, de la technique, des auxiliaires nécessaires et du respect des procédures.</p>
                    
                    <h4>Contre-indications</h4>
                    <p>Allergie aux matériaux utilisés.
                       Les gouttières sont utilisées depuis longtemps par les chirugien-dentistes: en occlusodontie, en dentisterie esthetique pour les éclaircissements, en prévention pour renforcer l’email, en sport pour éviter les fractures, en posturologie pour l’équilibre du corps et en psychologie contre le stress et bruxisme. Si Les orthodondistes les utilisent depuis plus de 60 ans pour des contentions ou déplacements mineurs, la fabrication de gouttières thermoformées à partir de modèles obtenus par l’association de la stéréolithographie dans la résine liquide et d’un set-up informatique 3D statique et dynamique (technologie arrivée en Europe en 2001)<br>
                        Les possibilités de choisir par informatique la vitesse et la quantité de déplacement entre chaque aligneur, les nouveaux auxilliaires de traitement d’orthodontie, les nouveaux procédés et matériaux de dentisterie apportent de nouvelles possibilités pour le patient tant pour le confort et l’esthétique que pour les possibilités thérapeutiques.
                    </p>

                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    
                    <h3>AVANTAGES</h3>	
                    <p>Répond au mieux aux règles de l’ISFESO©</p>
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        	<ul class="styled-list-one">
                                <li>Règle n°1: l’appareil est Invisible par transparenceli</li>
                                <li>Règle n°2: avec un minimum de douleurs, l’irritation est diminuée</li>
                                <li>Règle n°3: l’appareil est sur mesure, adapté aux bridges, couronnes</li>
                                <li>Règle n°4: l’appareil est amovible et permet l’hygiène et le brossage</li>
                                <li>Règle n°5: l’appareil est fait sur mesure, donc parfois plus rapide</li>
                                <li>Règle n°6: l’appareil est fait sur mesure et permet de limiter les rendez-vous</li>
                                
                            </ul>
                        </div>
                    </div>
                    
                    <h3>INCONVÉNIENTS</h3>   	
                    <div class="row clearfix">
                    	<div class="col-md-12 col-sm-12 col-xs-12">
                        	<ul class="styled-list-one">
                            	<li> Besoin d’un port rigoureux selon les instructions</li>
                                <li>Absence provisoire de contact entre les dents du fond</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    {% endblock %}