   {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 

   <style>
        .blog-news-column .image-box .news-date .month {
            font-size: 16px;
            display: block;
        }
   </style>
     <!--Page Title-->
    <section class="page-title" style="background-image:url(../assets/images/background/bg-page-title-16.jpg);">
    	<div class="auto-container">
        	<h1>Esthétique du Sourire</h1>
        </div>
    </section>
    
    
 <section class="blog-news-section">
    <div class="container">                    
        <div class="row clearfix">
            <div class="col-md-6 col-sm-6">
                   <div class="column blog-news-column">
                            <article class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                <figure class="image-box">
                                    <a href="#"><img src="{{ asset('assets/images/esthetique-sourire/ombres-noires-du-sourire.png') }}" alt=""></a>
                                    <div class="news-date"><span class="month">20<br>05</span></div>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Les Ombres Noires du Sourire</a></h3>
                                    <ul class="post-info clearfix">
                                        <li>Par <a >Le Dr. Bergeyron</a></li><li>Lire <a href="{{ asset('assets/images/esthetique-sourire/4.pdf') }}" target="_blank">L'article Complet</a></li>
                                    </ul>
                                    <div class="text">Le sourire, c’est évidemment des lèvres, une gencive et des dents. Tout le reste apparaît noir pour l’œil d’un observateur non professionnel, c’est -à- dire la quasi-totalité des personnes à qui est destiné le sourire. </div>
                                </div>
                            </article>
                    </div>
                    <hr class="separator">
            </div>

            
            <div class="col-md-6 col-sm-6">
                   <div class="column blog-news-column">
                            <article class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                <figure class="image-box">
                                    <a href="#"><img src="{{ asset('assets/images/esthetique-sourire/position.png') }}" alt=""></a>
                                    <div class="news-date"><span class="month">20<br>05</span></div>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Position antéro-postérieure des dents antérieurs</a></h3>
                                    <ul class="post-info clearfix">
                                        <li>Par <a >Le Dr. Bergeyron</a></li><li>Lire <a href="{{ asset('assets/images/esthetique-sourire/5.pdf') }}" target="_blank">L'article Complet</a></li>
                                    </ul>
                                    <div class="text">Vu de face, le sourire de Claudia a l’air équilibré alors que vu de profil, pourtant ces malpositions influencent la perception de tout le visage, même de face.</div>
                                </div>
                            </article>
                    </div>
                    <hr class="separator">
            </div>
        </div>             
        <div class="row clearfix">
            <div class="col-md-6 col-sm-6">
                   <div class="column blog-news-column">
                            <article class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                <figure class="image-box">
                                    <a href="#"><img src="{{ asset('assets/images/esthetique-sourire/compo.png') }}" alt=""></a>
                                    <div class="news-date"><span class="month">20<br>05</span></div>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Sourire et composition dentaire</a></h3>
                                    <ul class="post-info clearfix">
                                        <li>Par <a >Le Dr. Bergeyron</a></li><li>Lire <a href="{{ asset('assets/images/esthetique-sourire/6.pdf') }}" target="_blank">L'article Complet</a></li>
                                    </ul>
                                    <div class="text">La disposition, l’arrangement, la texture, la forme, la couleur, la symétrie des dents et des groupes de dents sont à la base de l’individualisation du sourire.
                                    Quelles sont les règles actuelles applicables au sourire de la belle Corinne.</div>
                                </div>
                            </article>
                    </div>
                    <hr class="separator">
            </div>

            
            <div class="col-md-6 col-sm-6">
                   <div class="column blog-news-column">
                            <article class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                <figure class="image-box">
                                    <a href="#"><img src="{{ asset('assets/images/esthetique-sourire/asymetrie.png') }}" alt=""></a>
                                    <div class="news-date"><span class="month">20<br>05</span></div>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Asymétrie Esthétiques</a></h3>
                                    <ul class="post-info clearfix">
                                        <li>Par <a >Le Dr. Bergeyron</a></li><li>Lire <a href="{{ asset('assets/images/esthetique-sourire/7.pdf') }}" target="_blank">L'article Complet</a></li>
                                    </ul>
                                    <div class="text">Il est élu régulièrement plus bel homme du monde et pourtant … son visage et son sourire sont loin de répondre aux critères esthétiques en vigueur. Ils présentent une asymétrie particulière, car non génératrice de déséquilibre. Démonstration.</div>
                                </div>
                            </article>
                    </div>
                    <hr class="separator">
            </div>
        </div>             
        <div class="row clearfix">
            
            <div class="col-md-6 col-sm-6">
                   <div class="column blog-news-column">
                            <article class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                <figure class="image-box">
                                    <a href="#"><img src="{{ asset('assets/images/esthetique-sourire/trois-etages.png') }}" alt=""></a>
                                    <div class="news-date"><span class="month">20<br>04</span></div>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Le Sourire dans le Visage</a></h3>
                                    <ul class="post-info clearfix">
                                        <li>Par <a >Le Dr. Bergeyron</a></li><li>Lire <a href="{{ asset('assets/images/esthetique-sourire/2.pdf') }}" target="_blank">L'article Complet</a></li>
                                    </ul>
                                    <div class="text">Le sourire reste, avec les yeux,l’élément le plus fort du visage.
                                    Nous voyons ici comment ce sourire s’harmonise dans l’ensemble « menton, nez, yeux, front, 
                                    cheveux …. »<br>
                                    Découvrons ce que les peintres classiques ont appelé « Ies trois étages du visage ».</div>
                                </div>
                            </article>
                    </div>
            </div>

            
            <div class="col-md-6 col-sm-6">
                   <div class="column blog-news-column">
                            <article class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                <figure class="image-box">
                                    <a href="#"><img src="{{ asset('assets/images/esthetique-sourire/espace-buccal-du-sourire.png') }}" alt=""></a>
                                    <div class="news-date">14<span class="month">Mar</span></div>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">L’Espace Buccal du Sourire</a></h3>
                                    <ul class="post-info clearfix">
                                        <li>Par <a >Le Dr. Bergeyron</a></li><li>Lire <a href="{{ asset('assets/images/esthetique-sourire/3.pdf') }}" target="_blank">L'article Complet</a></li>
                                    </ul>
                                    <div class="text">L’espace buccal du sourire est délimité par la partie inférieure de la lèvre supérieure en haut, la partie supérieure de la lèvre inférieure en bas et les commissures labiales latéralement. Cet espace répond à des canons de beauté dont on se préoccupe de plus en plus aujourd’hui. </div>
                                </div>
                            </article>
                    </div>
            </div>
        </div>


        </div>
    </div>                  
 </section>

 
    {% endblock %}
