   {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
     <!--Page Title-->
    <section class="page-title" style="background-image:url(../assets/images/background/bg-page-title-16.jpg);">
    	<div class="auto-container">
        	<h1>Systéme Invisalign®</h1>
        </div>
    </section>
    
    
    <!--Project Details /  Style Three-->
    <section class="project-details style-Three">
    	<div class="auto-container">
            
            <div class="row clearfix">
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{ asset('assets/images/invisalign.png') }}" alt=""></figure>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h3>C'est quoi Invisalign® ?</h3>
                    <p>Produit ayant vu le jour au sein de la fameuse Sillicon Valley se situant à Santa Clara à San Francisco en Californie, Invisalign est un produit de la société Align Technology®.
                    La prise d’empreinte numérique 3D donne la possibilité a un recours de la technologie Invisalign dès votre premier rendez-vous, de plus celle-ci permet la modélisation en 3D du changement de la position initiale de vos dents jusqu'à leur position souhaité. Une fois le plan de traitement présenté et validé par votre orthodontiste sur une simulation 3D, ainsi qu’une durée de traitement définie, une série d’aligneurs transparents est fabriquée sur mesure pour vos dents. Ce traitement vous assure un déplacement de vos dents de façon millimétrique, en une série d’aligneurs que vous changerez tous les 4, 7 ou 15 jours jusqu’à atteindre progressivement la position finale prescrite.</p>
                    
                </div>
            </div>

            
            <h3>L'appareil Invisalign® ?</h3>
            <p>Invisalign est un appareillage, les résultats dépendent de l'expérience, de la formation et de la philosophie Il existe différentes philosophies comme Riquets, Isfeso©...
            Invisalign® reconnaît l'expérience des praticiens et décerne des reconnaissances en fonction du nombre de cas traités. Toutes les études au monde démontrent que seule l'expérience dans le système Invisalign® permet de proposer des appareillages à tous les patients et que les cabinets qui ont peu d'expérience et qui n'ont suivi que quelques journées d'informations par la marque commerciale Invisalign® devront encore proposer des bagues dans la plupart des pathologies.<br>
            Invisalign ne peut pas traiter tous les cas, mais un orthodontiste expérimenté peut traiter tous les cas avec Invisalign et des auxilliaires. C'est pour cela qu'Invisalign délivre des titres aux orthodontistes selon leur expérience, leur nombre de cas traités, leur implication dans cette technologie. Les degrés de reconnaissance d'expérience décernés par Invisalign vous permettent de reconnaitre l'expérience d'un praticien, n'hésitez pas à demander à votre orthodontiste.<br>
            Pour utiliser le système Invisalign®, un orthodontiste doit suivre une journée de formation. Durant celle-ci, Invisalign® fort d’une expérience de plus de 50 000 praticiens, précise qu’il faut suivre une courbe d’apprentissage «Learning Curve». Elle indique que selon l’expérience du nombre de patient traités, le praticien débutant la technique pourra traiter 10% des malformations et la praticien expérimenté 100%. À la suite de cette journée, Invisalign® lui délivre un certificat et les droits pour commander les aligneurs. N’hésitez pas à demander à votre praticien, sa formation et son expérience.
            </p>
            
            <div class="row clearfix">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <h3>Historique du Dr avec Invisalign®</h3>
                    <p>Le Dr Patrice Bergeyron est l'un des praticiens les plus expérimentés en Invisalign®, ce qui lui permet de dire dans ses conférences à travers le monde: "TOUT ce qui peut être traité avec des bagues, peut être traité avec les aligneurs® de marque Invisalign®".
                    Le Dr Patrice Bergeyron est le 1er prescripteur de 2001 à 2012 en France dans son cabinet du village de Bandol. Il est devenu le plus grand prescripteur en 2011 avec une expérience de 2000 cas traités.<br>
                    Les orthodontistes membres de l’ISFESO© ont choisi l’Orthodontie Esthétique et Fonctionnelle du Sourire© (OEFS©) et ont tous reçu une formation leur permettant de traiter tous les cas cliniques avec des aligneurs® en plastique amovibles et invisibles par transparence.
                    <br>
                    «En 2011, tout ce qui peut être traité avec des bagues peut l’être avec des aligneurs®. Cela dépend du type d’aligneur®, de l’expérience du praticien dans cette technique, de sa formation spécifique, de sa philosophie de traitement et des auxilliaires utilisés.» Patrice Bergeyron.</p>
                </div>
                
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        {# <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol> #}

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                        <div class="item active">
                            <img src="{{ asset('assets/images/certifs/in1.png') }}"  style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in2.png') }}" style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in3.png') }}" style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in4.png') }}"  style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in5.png') }}"  style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in6.png') }}"  style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in7.png') }}"  style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in8.png') }}"  style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in9.png') }}"  style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in10.png') }}"  style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in11.png') }}"  style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in12.png') }}" style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in13.png') }}" style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in14.png') }}" style="width:100%;">
                        </div>
                        
                        <div class="item">
                            <img src="{{ asset('assets/images/certifs/in15.png') }}"  style="width:100%;">
                        </div>
                    </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}









   