   {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
     <!--Page Title-->
    <section class="page-title" style="background-image:url(../assets/images/background/bg-page-title-16.jpg);">
    	<div class="auto-container">
        	<h1>ISFESO©</h1>
        </div>
    </section>
    
    
    <!--Project Details /  Style Three-->
    <section class="project-details style-Three">
    	<div class="auto-container">
            
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                	<center><img src="{{ asset('assets/images/logo_isfeso.png') }}" alt=""></center>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h3>Qu'est ce que L'ISFESO© ?</h3>
                    <p><a href="http://www.isfeso.com/fr/" target="_blank">L'ISFESO©</a>, l'International Society of Functional Esthetic of Smile in Orthodontics est une société scientifique qui fut crée en 2008 à la Réserve, à Bandol (France) par le Dr Patrice Bergeyron après douze ans de pratique d'une Orthodontie Esthétique et Fonctionnelle du sourire et avoir traité plus de 10.000 patients dans le monde.
                    L'ISFESO© définit la philosophie de l'orthodontie et précise les engagements que tout professionnel désirant adhérer à cette charte devra respecter, afin que le patient soit éclairé et sache comment on va le traiter et à quel résultat il est en droit de s'attendre.
                    Et cela commence par un engagement sur l'appareillage que l'on va mettre dans la bouche du patient,<br>
                    <b>en six régles fondamentales:</b></p>
                    
                </div>
            </div>
<div class="auto-container" style="margin-top: 50px">
        	
            <div class="sec-title text-center" style="margin-bottom: 0px;" >
            	<h2>Régles de L'ISFESO©</h2>
            </div>
            
            <div class="row clearfix">
            	
                <!--Icon Column-->
                <div class="icon-column-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon"><span class="flaticon-technology-35"></span></div>
                        <h3>1. Etre esthétique</h3>
                        <div class="text">Adopter l'appareillage le moins visible et améliorer l'esthétique des six dents... antérieures dès le début du traitement.</div>
                        <!--Overlay-->
                        <div class="overlay-box">
                        	<h4>1. Etre esthétique</h4>
                        	<div class="text">
                            	<p>Adopter l'appareillage le moins visible et améliorer l'esthétique des six dents antérieures dès le début du traitement.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Icon Column-->
                <div class="icon-column-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon"><span class="flaticon-technology-35"></span></div>
                        <h3>2. Diminuer la douleur</h3>
                        <div class="text">(Forces légères et physiologiques). Il ne faut plus avoir mal.</div>
                        <!--Overlay-->
                        <div class="overlay-box">
                        	<h4>2. Diminuer la douleur et les traumatismes</h4>
                        	<div class="text">
                            	<p>(Forces légères et physiologiques). Il ne faut plus avoir mal.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Icon Column-->
                <div class="icon-column-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon"><span class="flaticon-technology-35"></span></div>
                        <h3>3. Etre confortable et individualisé</h3>
                        <div class="text">(Lisse, arrondi pour la langue et les joues.) Le seul moyen pour un appareil d'être...</div>
                        <!--Overlay-->
                        <div class="overlay-box">
                        	<h4>3. Etre confortable et individualisé</h4>
                        	<div class="text">
                            	<p>(Lisse, arrondi pour la langue et les joues.) Le seul moyen pour un appareil d'être confortable, c'est qu'il soit fait sur mesure.
                                Tous nos appareils sont fabriqués à partir d'empreintes, car chaque individu est unique.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   

            <div class="row clearfix"> 
                <!--Icon Column-->
                <div class="icon-column-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon"><span class="flaticon-technology-35"></span></div>
                        <h3>4. Permettre l'Hygiène</h3>
                        <div class="text">(Privilégier l'amovible)</div>
                        <!--Overlay-->
                        <div class="overlay-box">
                        	<h4>4. Permettre l'Hygiène</h4>
                        	<div class="text">
                            	<p>(Privilégier l'amovible).</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Icon Column-->
                <div class="icon-column-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon"><span class="flaticon-technology-35"></span></div>
                        <h3>5. Etre efficace</h3>
                        <div class="text"></div>
                        <!--Overlay-->
                        <div class="overlay-box">
                        	<h4>5. Etre efficace</h4>
                        </div>
                    </div>
                </div>
                
                <!--Icon Column-->
                <div class="icon-column-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon"><span class="flaticon-technology-35"></span></div>
                        <h3>6. Fonctionner sans contrainte </h3>
                        <div class="text">Il ne faut pas qu'il y ait d'urgence! ...</div>
                        <!--Overlay-->
                        <div class="overlay-box">
                        	<h4>6. Fonctionner sans contrainte de rendez-vous</h4>
                        	<div class="text">
                            	<p>Il ne faut pas qu'il y ait d'urgence!<br>
                                   Le traitement doit être fiable et prévu sur la durée.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                
            </div>
            
        </div>
            
            



        </div>
    </section>

<section class="features-style-one">
    	<div class="auto-container">
        	
            <div class="sec-title text-center">
            	<h2>Philosophie de L'ISFESO© ?</h2>
            </div>

            
            
            <div class="row clearfix">
                <!--Features Column-->
            	<div class="column features-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="count wow zoomInStable animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: zoomInStable;">01.</div>
                        <div class="title-box">
                            <h3>Ne pas nuire</h3>
                        </div>
                        <div class="text">En orthodontie : Limiter les extractions, « ne pas mutiler », nous pouvons améliorer, ne rien faire mais pas aggraver le cas.
                        « Les extractions de dents saines sont des mutilations irréversibles d’une partie du corps humain ». Mettre en place toute technique et technologie les limitant.
                        En esthétique : Limiter les dévitalisations,<br> « ne pas tuer ». </div>
                    </div>
                </div>
                
                <!--Features Column-->
            	<div class="column features-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="count wow zoomInStable animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: zoomInStable;">02.</div>
                        <div class="title-box">
                            <h3>Le sourire du visage</h3>
                        </div>
                        <div class="text">Harmonie architecturale de la face.
                        « Le traitement d’orthodontie influence l’équilibre et l’expression du visage, il ne suffit pas d’aligner, de redresser et de coordonner les dents pour avoir un « beau sourire ». Il faut les intégrer dans le visage, respecter le volume du sourire, la taille du nez, la position du menton, des lèvres et l’évolution dans le temps de ce sourire.</div>
                    </div>
                </div>
                
                <!--Features Column-->
            	<div class="column features-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="count wow zoomInStable animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: zoomInStable;">03.</div>
                        <div class="title-box">
                            <h3>Le sourire des dents</h3>
                        </div>
                        <div class="text">
                        Votre sourire est riche d’informations et d’indications sur l’état, la position et le déplacement de vos dents, il nous guide sur les possibilités d’amélioration, de changement ou de correction.
                        Respectant les concepts de dentisterie et de prothèse et non conceptualisé à partir ou à cause d’un système préfabriqué tel que le multi-attaches.
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!--Sponsors Section-->
    <section class="sponsors-section">
    	<div class="auto-container">
        	
            <div class="sec-title text-center"><h2>Our Trusted Clients</h2></div>
            
        	<!--Sponsors Outer-->
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{{ asset('assets/images/clients/7.png') }}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{{ asset('assets/images/clients/8.png') }}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{{ asset('assets/images/clients/9.png') }}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{{ asset('assets/images/clients/10.png') }}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{{ asset('assets/images/clients/11.png') }}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{{ asset('assets/images/clients/12.png') }}" alt=""></a></figure></li>
                </ul>
            </div>
        </div>
    </section>
    {% endblock %}









   