   {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
     <!--Page Title-->
    <section class="page-title" style="background-image:url(../assets/images/background/bg-page-title-16.jpg);">
    	<div class="auto-container">
        	<h1>Dr Patrice Bergeyron</h1>
        </div>
    </section>
    
    
    <!--Project Details /  Style Three-->
    <section class="project-details style-Three">
    	<div class="auto-container">
        	
            
            <div class="row clearfix">
            	
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{ asset('assets/images/pb.jpg') }}" style="width: 55%;" alt=""></figure>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                	<h3>Dr. Patrice Bergeyron,</h3>

                    <p>est l’un des praticiens les plus en pointe dans le domaine de l’orthodontie moderne orthodontiste qualifié et expérimenté, conférencier aguerri, auteur reconnu et consultant sollicité auprès des professionnels de l’orthodontie.
                    Le Docteur Bergeyron exerce dans son cabinet Privé au quai des Bergues à Genève, uniquement sur recommandation.</p>
                    
                    <h4>Des milliers d'Orthodontistes ont suivis ses formations</h4>
                    
                    <h4>Experiences: 25 ans</h4>

                    <p>Des valeurs fortes Orthodontiste passionné, il a dédié sa carrière à l’amélioration continue de sa pratique afin de toujours rester à la pointe des technologies modernes et offrir à ses patients les traitements les plus efficaces, les plus discrets et les moins douloureux.
                    Fondateur de L’ISFESO©, une société scientifique regroupant des orthodontistes du monde entier, ayant pour but d’étudier et de promouvoir l’Orthodontie Esthétique et Fonctionnelle du Sourire©, une orthodontie au service du sourire visant à recréer une occlusion fonctionnelle, tout en limitant les extractions orthodontiques à partir de l’étude à la fois « du visage » et « des dents »</p>
                    
                </div>
                
            </div>
            
            
            
            <div class="row clearfix">
                
                <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>Pourquoi Patrice Bergeyron Consulting</h3>
                <p>Le cursus universitaire ne dispensant pas de cours sur le sourire, le Dr Patrice Bergeyron a fait le choix de faire le tour du monde des conférenciers qui parlaient du "sourire" pour en rencontrer un célèbre qui disait: "les orthodontistes sont contents de leur traitement mais parfois le patient n'est pas satisfait de son sourire".</p>
                <p>C'est à ce moment qu’il a compris que les standards, ou l'industrialisation de la profession dont l'enseignement régionalisée et dicté par le chef de service, ne répondaient ni aux raisons d'être de l'être humain qui est unique et individuel, ni à son sourire qui est sa plus belle arme sur la vie.</p>

                <h3>Comment Patrice Bergeyron est devenu consultant</h3>
                <p> Le Dr Patrice Bergeyron crée son propre procédé d’enseignement selon la philosophie développée au fil de ses recherches, de ses rencontres, de ses expériences professionnelles et du partage avec ses confrères: l’orthodontie esthétique et fonctionnelle du sourire© était née : <a href="">ISFESO</a></p>
                </div>
            	
                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                	<figure class="image-box">
                        <img src="{{ asset('assets/images/pqpatrice.jpg') }}" alt="">
                    </figure>
                </div>
                
            </div>


            <div class="row clearfix">
            	
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{ asset('assets/images/rcc-transparent.png') }}" alt="" style="width: 50%;"></figure>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                	<h3>Expert en orthodontie pédiatrique</h3>

                    <p>Le Dr Bergeyron fervent défenseur des traitements orthodontiques précoces a développé un savoir-faire très poussé dans ce domaine. Il propose, dès l’âge de 3 ans, une étude et un contrôle de la croissance naturelle et fonctionnelle des mâchoires et de l’évolution des dents et s’appuie sur un appareil exclusif, développé par ses soins le Régulateur de Croissance Contrôlé qui fonctionne comme un tuteur sur la mâchoire de l’enfant.</p>
                    
                </div>
                
            </div>


            <div class="row clearfix">
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                	<h3>Pionnier des traitements par Aligneurs</h3>

                    <p>Le Dr Bergeyron est l’un des orthodontistes les plus expérimentés d'Europe en quantité de traitements par appareil Invisalign ® mais aussi celui qui montre les meilleurs cas cliniques selon les pairs de l’orthodontie Invisalign® internationale Il a reçu pour sa pratique plusieurs titres lors des Peer Review Awards Formateur agréé il a formé la plupart des orthodontistes en Europe sur les procédés Invisalign ®</p>
                    
                </div>
            	
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{ asset('assets/images/invisalign.png') }}" alt="" style="width: 80%;"></figure>
                </div>
                
            </div>


            <div class="row clearfix">
            	
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{ asset('assets/images/couverture-livre.png') }}" alt="" ></figure>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                	<h3>Le Dr Bergeyron est l’auteur de deux ouvrages disponibles en librairies :</h3>

                    <p>Le Dr Bergeyron fervent défenseur des traitements orthodontiques précoces a développé un savoir-faire très poussé dans ce domaine. Il propose, dès l’âge de 3 ans, une étude et un contrôle de la croissance naturelle et fonctionnelle des mâchoires et de l’évolution des dents et s’appuie sur un appareil exclusif, développé par ses soins le Régulateur de Croissance Contrôlé qui fonctionne comme un tuteur sur la mâchoire de l’enfant.</p>
                    
                </div>
                
            </div>
            
            
        </div>
    </section>

    <section class="intro-style-two" style="background-image:url(../assets/images/bannierepb.png); height: 500px">
    	<div class="auto-container" >
        	<h3>Un auteur reconnu et conférencier international aguerri</h3>
            <p>Le Dr Bergeyron est l’auteur de deux ouvrages disponibles en librairies :<br>
                <ul class="styled-list-one">
                    <li>L’orthodontie du sourire publié en 2018 s’adresse au grand public Il retrace la carrière du docteur et présente les techniques disponibles aujourd’hui tant pour l’alignement que pour le blanchiment des dents.</li>
                    <li>Le Guide d'utilisation du ClinCheck Pro® s’adresse aux orthodontistes. Il est le 1er Guide complet pour naviguer dans l'IDS et utiliser le logiciel ClinCheck Pro.</li>
                </ul>
            </p>
            <p>Le Dr Bergeyron a par ailleurs publié de nombreux articles dans des revues scientifiques et dans la presse grand public.<br> Ses articles sur l’esthétique et Invisalign® restent une référence dans le monde de l’orthodontie.</p>
        </div>
    </section>
    {% endblock %}