<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Meta Tags -->
        {% block meta %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="StudyPress | Education & Courses HTML Template" />
        <meta name="keywords" content="academy, course, education, education html theme, elearning, learning," />
        <meta name="author" content="ThemeMascot" />
        <!-- Favicon and Touch Icons -->
        <link href="images/favicon.png" rel="shortcut icon" type="image/png">
        <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
        {% endblock %}
        <title>{% block title %}ISFESO{% endblock %}</title>
        {% block stylesheets %}
        <!-- Stylesheet -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/css-plugin-collections.css') }}" rel="stylesheet"/>
        <!-- CSS | menuzord megamenu skins -->
        <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
        <!-- CSS | Main style file -->
        <link href="{{ asset('css/style-main.css') }}" rel="stylesheet" type="text/css">
        <!-- CSS | Preloader Styles -->
        <link href="{{ asset('css/preloader.css') }}" rel="stylesheet" type="text/css">
        <!-- CSS | Custom Margin Padding Collection -->
        <link href="{{ asset('css/custom-bootstrap-margin-padding.css') }}" rel="stylesheet" type="text/css">
        <!-- CSS | Responsive media queries -->
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" type="text/css">
        <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
        <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

        <!-- Revolution Slider 5.x CSS settings -->
        <link  href="{{ asset('js/revolution-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
        <link  href="{{ asset('js/revolution-slider/css/layers.css') }}" rel="stylesheet" type="text/css"/>
        <link  href="{{ asset('js/revolution-slider/css/navigation.css') }}" rel="stylesheet" type="text/css"/>

        <!-- CSS | Theme Color -->
        <link href="{{ asset('css/colors/theme-skin-color-set-1.css') }}" rel="stylesheet" type="text/css">
        <!-- external javascripts -->
        <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- JS | jquery plugin collection for this theme -->
        <script src="{{ asset('js/jquery-plugin-collection.js') }}"></script>

        <!-- Revolution Slider 5.x SCRIPTS -->
        <script src="{{ asset('js/revolution-slider/js/jquery.themepunch.tools.min.js') }}"></script>
        <script src="{{ asset('js/revolution-slider/js/jquery.themepunch.revolution.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
            <div class="preloader-dot-loading">
                <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
            </div>
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div> 
        {% block header %}
              <!-- Header -->
            <header id="header" class="header">
                <div class="header-middle p-0 bg-lightest xs-text-center">
                <div class="container pt-0 pb-0">
                    <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="widget no-border m-0">
                        <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="{{ path('home') }}"><img src="{{ asset('images/logo-isfeso.png') }}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                        <ul class="list-inline">
                            <li><i class="fa fa-email-square text-theme-colored font-36 mt-5 sm-display-block"></i></li>
                            <li>
                            <a href="#" class="font-12 text-gray text-uppercase">Ecrivez-nous!</a>
                            <a href="mailto:contact@isfeso.com"> <h5 class="font-14 m-0" > contact@isfeso.com</h5></a>
                            </li>
                        </ul>
                        </div>
                    </div>  
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                        <ul class="list-inline">
                            <li><i class="fa fa-clock-o text-theme-colored font-36 mt-5 sm-display-block"></i></li>
                            <li>
                            <a href="#" class="font-12 text-gray text-uppercase">Nous sommes joignable</a>
                            <h5 class="font-13 text-black m-0"> 24/24 ; 7/7</h5>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                        {# <h5 class="widget-title mb-10">Social media</h5> #}
                        <ul class="styled-icons icon-bordered icon-sm list-inline">
                        <li><a href="https://www.facebook.com/isfeso/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/isfeso" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        {# <li><a href="#"><i class="fa fa-twitter"></i></a></li> #}
                        {# <li><a href="#"><i class="fa fa-skype"></i></a></li> #}
                        <li><a href="https://www.youtube.com/user/Paloma1203bis" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/isfeso/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        {# <li><a href="#"><i class="fa fa-pinterest"></i></a></li> #}
                        </ul>
                        </div>
                    </div> 
                    </div>
                </div>
                </div>
                <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
                    <div class="container">
                    <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
                        <ul id="menuMenu" class="menuzord-menu">

                        <li class=""><a href="{{ path('home') }}">Accueil</a></li>

                        <li><a href="{{ path('oefs') }}">OEFS</a></li>

                        <li><a href="#">Charte</a>
                            <ul class="dropdown">
                            <li><a href="{{ path('charte_isfeso') }}">Charte de l'ISFESO®</a></li>
                            <li><a href="{{ path('charte_ortho') }}">Charte Orthodontistes</a></li>
                            <li><a href="{{ path('charte_membres') }}">Charte Membres</a></li>
                            </ul>
                        </li>

                        <li><a href="#">Appareillages</a>
                            <ul class="dropdown">
                            <li><a href="{{ path('regle-appareillage') }}">Règles d'appareillages</a></li>
                            <li><a >Appareillages agrées<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                <ul class="dropdown" style="display: none;">
                                <li><a href="{{ path('rcc') }}">RCC</a></li>
                                <li><a href="{{ path('aligneurs') }}">Aligneurs</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Autres appareillages</a></li>
                            </ul>
                        </li>

                        <li><a href="{{ path('diagnostique') }}">Diagnostique</a></li>

                        <li><a href="#home">Galerie Clinique</a>
                            <ul class="dropdown">
                            <li><a href="{{ path('arcade_etroite') }}">Arcades étroites</a></li>
                            <li><a href="{{ path('articule_inverse') }}">Articulé Inversé</a></li>
                            <li><a href="{{ path('beance') }}">Béance</a></li>
                            <li><a href="{{ path('chevauchement_bas') }}">Chevauchement bas</a></li>
                            <li><a href="{{ path('chevauchement_haut') }}">Chevauchement haut</a></li>
                            <li><a href="{{ path('chirurgie') }}">Chirurgie</a></li>
                            <li><a href="{{ path('DentsArriere') }}">Dents en arrière</a></li>
                            <li><a href="{{ path('DentsAvant') }}">Dents en avant</a></li>
                            <li><a href="{{ path('DentsEcartees') }}">Dents écartées</a></li>
                            <li><a href="{{ path('DentsIncluses') }}">Dents incluses</a></li>
                            <li><a href="{{ path('Disjonction') }}">Disjonction</a></li>
                            <li><a href="{{ path('esthetique') }}">Esthétique</a></li>
                            <li><a href="{{ path('Parodontie') }}">Parodontie</a></li>
                            <li><a href="{{ path('aligneurs') }}">Préparation aux implants</a></li>
                            <li><a href="{{ path('aligneurs') }}">Sourire gingival</a></li>
                            </ul>
                        </li>

                        <li><a href="{{ path('Formations') }}">Formations</a></li>

                        <li><a href="{{ path('contact') }}">Contact</a></li>
                        </ul>
                        <ul class="pull-right flip hidden-sm hidden-xs">
                        <li>
                            <!-- Modal: Book Now Starts -->
                            <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15"  href="{{ path('adhesion') }}">Rejoignez nous</a>
                            <!-- Modal: Book Now End -->
                        </li>
                        </ul>
                        <div id="top-search-bar" class="collapse">
                        <div class="container">
                            <form role="search" action="#" class="search_form_top" method="get">
                            <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                            <span class="search-close"><i class="fa fa-search"></i></span>
                            </form>
                        </div>
                        </div>
                    </nav>
                    </div>
                </div>
                </div>
            </header>
        {% endblock %}
        
        <div class="main-content">
        {% block body %}{% endblock %}
        </div>
        {% block footer %}
              <!-- Footer -->
            <footer id="footer" class="footer divider layer-overlay overlay-dark-9" data-bg-img="images/bg/bg2.jpg">
                <div class="container">
                <div class="row border-bottom">
                    <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <img class="mt-5 mb-20" alt="" src="images/logo-isfeso.png">
                        <p>237 Ave de la Libération Bandol 83150, France</p>
                        <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray" href="tel:+41 22 900 00 10">+41 22 900 00 10</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-gray" href="mailto:contact@isfeso.com">contact@isfeso.com</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray" href="https://www.basmile.com">www.basmile.com</a> </li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h4 class="widget-title">Lien Utiles</h4>
                        <ul class="list angle-double-right list-border">
                        <li><a href="{{ path('charte_isfeso') }}">Charte de l'ISFESO®</a></li>
                        <li><a href="{{ path('diagnostique') }}">Diagnostique</a></li>
                        <li><a href="{{ path('adhesion') }}">Réjoingez la communauté</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>            
                        </ul>
                    </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Réseaux sociaux</h5>
                        <ul class="styled-icons icon-bordered icon-sm">
                        <li><a href="https://www.facebook.com/isfeso/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/isfeso" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        {# <li><a href="#"><i class="fa fa-twitter"></i></a></li> #}
                        {# <li><a href="#"><i class="fa fa-skype"></i></a></li> #}
                        <li><a href="https://www.youtube.com/user/Paloma1203bis" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/isfeso/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        {# <li><a href="#"><i class="fa fa-pinterest"></i></a></li> #}
                        </ul>
                    </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                    {% for message in app.flashes('success')  %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success1')  %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                    {% endfor %}
                    <div class="widget dark" id="newsletter">
                        <h5 class="widget-title mb-10">Newsletter</h5>
                        <!-- Mailchimp Subscription Form Starts Here -->
                        <form id="newsletterForm" class="newsletter-form" method="post" action="{{ path('newsletter') }}">
                        <div class="input-group">
                            <input type="email" value="" name="newsletter" placeholder="Votre Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer">
                            <span class="input-group-btn" style="vertical-align: top!important;">
                            <button data-height="45px" class="btn bg-theme-color-2 text-white btn-xs m-0 font-14" type="submit">S'inscrire</button>
                            </span>
                        </div>
                        </form>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script>
    $(document).ready(function () {
        
    $( "#newsletterForm" ).validate({
            rules: {
                newsletter: {
                "required": true,
                "email": true
                }
            },
            messages: {
                newsletter: {
                 "required": "Ce champ est obligatoire",
                "email": "Veuillez vérifier le format"
                }
            }
        });
    });   
    </script>
                        {# <!-- Mailchimp Subscription Form Validation-->
                        <script type="text/javascript">
                        $('#mailchimp-subscription-form-footer').ajaxChimp({
                            callback: mailChimpCallBack,
                            url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                        });

                        function mailChimpCallBack(resp) {
                            // Hide any previous response text
                            var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                                $response = '';
                            $mailchimpform.children(".alert").remove();
                            if (resp.result === 'success') {
                                $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                            } else if (resp.result === 'error') {
                                $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                            }
                            $mailchimpform.prepend($response);
                        }
                        </script>
                        <!-- Mailchimp Subscription Form Ends Here --> #}
                    </div>
                    </div>
                </div>
                </div>
                <div class="footer-bottom bg-black-333">
                <div class="container pt-20 pb-20">
                    <div class="row">
                    <div class="col-md-12 text-center">
                        <p  class="font-11 text-black-777 m-0">Copyright &copy;2019 ISFESO. All Rights Reserved</p>
                    </div>
                    {# <div class="col-md-6 text-right">
                        <div class="widget no-border m-0">
                        <ul class="list-inline sm-text-center mt-5 font-12">
                            <li>
                            <a href="#">FAQ</a>
                            </li>
                            <li>|</li>
                            <li>
                            <a href="#">Help Desk</a>
                            </li>
                            <li>|</li>
                            <li>
                            <a href="#">Support</a>
                            </li>
                        </ul>
                        </div>
                    </div> #}
                    </div>
                </div>
                </div>
            </footer>
        {% endblock %}
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
        {% block javascripts %}
            <!-- Footer Scripts -->
            <!-- JS | Custom script for all pages -->
            <script src="js/custom.js"></script>

            <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
                (Load Extensions only on Local File Systems ! 
                The following part can be removed on Server for On Demand Loading) -->
            <script type="text/javascript" src="{{ asset('js/revolution-slider/js/extensions/revolution.extension.actions.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/revolution-slider/js/extensions/revolution.extension.carousel.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/revolution-slider/js/extensions/revolution.extension.migration.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/revolution-slider/js/extensions/revolution.extension.navigation.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/revolution-slider/js/extensions/revolution.extension.parallax.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/revolution-slider/js/extensions/revolution.extension.video.min.js') }}"></script>

            <script>
                $("#menuMenu").click(function() {

                      $("#menuMenu li").removeClass('selected');
                      $(this).parent().addClass('selected');

                });
            </script>
        {% endblock %}
    </body>
</html>
